<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 Team Name: <%= team_name %>
 Coach: <%= coach %>
 Point Guard: <%= point_forward %>
 Shooting Guard: <%= shooting_forward %>
 Small Forward: <%= small_forward %>
 Power Forward: <%= power_forward %>
 Center: <%= center %>
 <input id="Submit" type="ubmit"/>
 </body>
</html>
